
.tabela-scroll {
  max-height: 400px; /* Altura máxima da lista */
  overflow-y: auto;  /* Habilita a rolagem vertical */
  overflow-x: hidden; /* Evita rolagem horizontal */
}

/* Estiliza a barra de rolagem */
.tabela-scroll::-webkit-scrollbar {
  width: 8px;
}
.tabela-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}
.tabela-scroll::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
.tabela-scroll::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
