<div class="card border-0 shadow-lg rounded-4 overflow-hidden">
  <div class="card-header bg-primary text-white text-center py-3 border-0">
    <h5 class="mb-0 fw-light">Adicionar Conta</h5>
  </div>

  <div class="card-body p-4 bg-white">
    <form (ngSubmit)="cadastrar()">

      <div class="row g-3">
        <div class="col-12">
          <label class="form-label text-secondary small text-uppercase fw-bold">Descrição</label>
          <input type="text" class="form-control form-control-lg bg-light border-0"
                 [(ngModel)]="conta.nome" name="nome" placeholder="Ex: Aluguel" required>
        </div>

        <div class="col-md-4">
          <label class="form-label text-secondary small text-uppercase fw-bold">Valor</label>
          <div class="input-group input-group-lg">
            <span class="input-group-text border-0 bg-light text-muted">R$</span>

            <input type="text"
                   class="form-control bg-light border-0"
                   [(ngModel)]="valorInput"
                   (input)="formatarMoeda($event)"
                   name="valorOriginal"
                   placeholder="0,00"
                   required>

          </div>
        </div>

        <div class="col-md-4">
          <label class="form-label text-secondary small text-uppercase fw-bold">Vencimento</label>
          <input type="date" class="form-control form-control-lg bg-light border-0 text-muted"
                 [(ngModel)]="conta.dataVencimento" name="dataVencimento" required>
        </div>
        <div class="col-md-4">
          <label class="form-label text-secondary small text-uppercase fw-bold">Pagamento</label>
          <input type="date" class="form-control form-control-lg bg-light border-0 text-muted"
                 [(ngModel)]="conta.dataPagamento" name="dataPagamento" required>
        </div>
      </div>

      <div class="d-grid mt-4">
        <button type="submit" class="btn btn-primary btn-lg rounded-pill shadow-sm fw-bold">
          Salvar
        </button>
      </div>

    </form>
  </div>
</div>
